* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    margin: 1rem;
    border: 1px solid black;
    background-color: rgb(164, 159, 159);
    color: white;
}

h1 {
    margin: .5rem;

}

form {
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: rgb(217, 210, 210);
    color: rgb(0, 0, 0);
}

code {
    display: block;
    background-color: black;
    color: #fff;

}

button {
    background-color: rgb(6, 6, 185);
    color: white;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
    border: 1px solid black;
}

.box {
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
}

.quiz-item {}

input,
textarea,
select,
button {
    padding: .75rem;
    width: 350px;
}