* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

:root {
    --background-color: darkblue;
    --color: white;
    --border: 1px solid black;
}

nav {
    background-color: var(--background-color);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: var(--color);
    display: block;
    padding: 15px;
    text-decoration: underline;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    color: var(--background-color);
}

img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

/* this is other comment */
p {
    padding: 0px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: var(--background-color);
    color: var(--color);
    text-align: center;
    position: relative;

}

aside img {
    width: 200px;
    height: auto;

}

aside h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3rem;
    color: black;
    text-decoration: underline;

}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 1px;
    box-shadow: 5px 5px 10px #454343;

}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

a:-webkit-any-link {
    color: white;

}

/* Class Selectors */
.box {
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--background-color);
    color: var(--color);

}

h2 {
    color: var(--background-color)
}