body {
    font-family: arial, sans-serif;
    line-height: 1.6;
}

header,
footer {
    background-color: cadetblue;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
}

h2 {
    border-bottom: 1px solid black;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 20px 10px 20px #353434;
}

section {
    margin: 20px 0;
    border: 1px solid #324460;
    padding: 10px;
    background-color: #abe;
    font-size: .9rem;
}

section p {
    margin: 10px;
}

footer {
    font-size: .9rem;
}